@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.separateContainer {
  width: 100%;
  max-width: 190rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  background-color: white;

  .shapeHoldr {
    width: 80%;
    display: flex;
    margin-right: 10%;

    .square {
      height: 4rem;
      min-width: 4rem;
      position: relative;
      top: 3.1rem;
      right: 1rem;
      transform: rotate(-45deg);
      border: 1px solid black;
      margin-left: 1.6rem;
      background-color: transparent;
      z-index: 200;
      content: '';
    }

    .AnimationSquare {
      min-height: 4rem;
      min-width: 4rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      background-color: $squareColor;
      font-size: 3rem;
      color: white;
      z-index: 100;
      span {
        transform: rotate(45deg);
      }
    }

    .line {
      align-self: center;
      width: 20.5vw;
      height: 0.1rem;
      position: relative;
      top: 0.1rem;
      left: -0.2rem;
      background-color: black;
      content: '';
    }

    .firstSquare {
      left: 12.45vw;
    }

    .secondSquare {
      left: 28.25vw;
    }

    .thirdSquare {
      left: 44.1vw;
    }

    .fourthSquare {
      left: 59.95vw;
    }

    .fifthSquare {
      left: 78.6vw;
    }

    .title {
      height: 3rem;
      position: relative;
      font-size: 1.5rem;
      top: 6rem;
      width: 25%;
      height: 4rem;
      left: 20%;
      text-transform: uppercase;
    }
  }
}
//     .firstPosition {
//       left: 17%;
//     }
//     .secondPosition {
//       left: 37%;
//     }

//     .thirdPosition {
//       left: 57%;
//     }

//     .fourthPosition {
//       left: 78%;
//     }

//     .fifthPosition {
//       left: 97%;
//     }
//   }
// }

@include desktop {
  .separateContainer {
    .shapeHoldr {
      .firstSquare {
        left: 12.2vw;
      }

      .secondSquare {
        left: 28vw;
      }

      .thirdSquare {
        left: 43.6vw;
      }

      .fourthSquare {
        left: 59.4vw;
      }

      .fifthSquare {
        left: 75vw;
      }

      .title {
        font-size: 1.2rem;
      }
    }
  }
}

@include tabletMax {
  .separateContainer {
    .shapeHoldr {
      .firstSquare {
        left: 12.1vw;
      }

      .secondSquare {
        left: 27.7vw;
      }

      .thirdSquare {
        left: 43vw;
      }

      .fourthSquare {
        left: 58.5vw;
      }

      .fifthSquare {
        left: 74vw;
      }

      .title {
        font-size: 1rem;
      }
    }
  }
}

@include tabletMin {
  .separateContainer {
    .shapeHoldr {
      .firstSquare {
        left: 5.5vw;
      }

      .secondSquare {
        left: 22.4vw;
      }

      .thirdSquare {
        left: 39.4vw;
      }

      .fourthSquare {
        left: 56.3vw;
      }

      .fifthSquare {
        left: 73.3vw;
      }

      .title {
        display: none;
      }
    }
  }
}
@include mobile {
  .separateContainer {
    .shapeHoldr {
      .firstSquare {
        left: 6.1vw;
      }

      .secondSquare {
        left: 22.4vw;
      }

      .thirdSquare {
        left: 38.6vw;
      }

      .fourthSquare {
        left: 55vw;
      }

      .fifthSquare {
        left: 71.3vw;
      }
    }
  }
}

@include mobileMin {
  .separateContainer {
    .shapeHoldr {
      .firstSquare {
        left: 13vw;
      }

      .secondSquare {
        left: 28.3vw;
      }

      .thirdSquare {
        left: 44vw;
      }

      .fourthSquare {
        left: 59.4vw;
      }

      .fifthSquare {
        left: 75vw;
      }
    }
  }
}
