@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.hardwareContainer {
  width: 100%;
  height: 100rem;
  background-image: url('../../../assets/hardwareBackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .contentContainer {
    width: 90%;
    margin: 0 auto;
    h1 {
      @include title;
    }
    p {
      width: 70%;
      margin: 15rem 0 0 2rem;
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

@include desktop {
  .hardwareContainer {
    height: 90rem;
    .contentContainer {
      h1 {
        padding: 10rem 0 0 2rem;
      }
      p {
        width: 100%;
        font-size: 3rem;
      }
    }
  }
}

@include tabletMax {
  .hardwareContainer {
    height: 90rem;
    .contentContainer {
      h1 {
        padding-top: 5rem;
      }
      p {
        width: 100%;
        margin-top: 5rem;
        font-size: 3rem;
      }
    }
  }
}
