$barContainerColor: #f9d71c;
$navList: rgba(255, 194, 11, 0.7);
$navBackground: rgba(255, 255, 255, 0.7);
$fontTitleColor: #001757;
$squareColor: darkcyan;
$investitionTextColor: #fd5d1e;
$shapeColor: purple;
