@mixin mobile() {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin tabletMin() {
  @media (min-width: 501px) and (max-width: 710px) {
    @content;
  }
}

@mixin tabletMax() {
  @media (min-width: 711px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1025px) and (max-width: 1450px) {
    @content;
  }
}

@mixin title {
  margin: 4rem 0 0 2rem;
  font-size: 6rem;
  font-weight: 600;
  color: #001757;
}
