@import 'src/scss/settings/colors';

@mixin title {
  margin: 4rem 0 0 2rem;
  font-size: 6rem;
  font-weight: 600;
  color: $fontTitleColor;

  @include tabletMax {
    font-size: 5rem;
  }

  @include mobile {
    font-size: 3rem;
  }
}

@mixin desktop() {
  @media (max-width: 1450px) {
    @content;
  }
}

@mixin tabletMax() {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin tabletMin() {
  @media (max-width: 921px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobileMin() {
  @media (max-width: 500px) {
    @content;
  }
}
