@import 'src/scss/settings/colors';

a {
  text-decoration: none;
  .logo {
    margin-left: 2rem;
    justify-self: start;
    cursor: pointer;
    color: $logoColor;
    font-size: 2rem;
    span {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
