@import 'src/scss/settings/mixins';

.headerContainer {
  width: 100%;
  height: 79rem;
  background-image: url('../../../assets/headerBackground.jpg');
  background-position: right center;
  background-size: cover;
}
