@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.contactContainer {
  width: 100%;
  height: 95rem;
  display: flex;
  flex-direction: column;
  // background-image: url('../../../assets/contactBackground.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .barContainer {
    align-self: flex-start;
  }
  h1 {
    @include title;
  }
  .tableContainer {
    height: 55rem;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
  }
}

@include tabletMax {
  .contactContainer {
    height: 80rem;
  }
}

@include tabletMin {
  .contactContainer {
    height: 125rem;
    .tableContainer {
      flex-direction: column;
      align-items: center;
    }
  }
}

@include tabletMin {
  .contactContainer {
    height: 115rem;
  }
}
