@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.footerContainer {
  background-color: $barContainerColor;
  .footerHolder {
    width: 95%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $fontTitleColor;
    font-size: 2rem;
    .contactFooter {
      a {
        color: black;
      }
    }
    .fbIcon {
      width: 4rem;
      height: 4rem;
    }
  }
}
@include mobile {
  .footerContainer {
    .footerHolder {
      height: 15rem;
      flex-direction: column;
    }
  }
}
