@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.footerContainer {
  width: 100%;
  height: 5rem;
  background-color: $barContainerColor;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $fontTitleColor;
  font-size: 2rem;
}
