@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.headerLinks {
  width: 60%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-evenly;

  .navItem {
    padding: 1rem 1rem;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      background-color: $barContainerColor;
      color: $fontTitleColor;
      border-radius: 0.4rem;
      transition: all 0.2s ease-out;
    }
  }
}

@include tabletMax {
  .headerLinks {
    width: 50%;
    height: 49%;
    margin-top: 7%;
    position: absolute;
    top: 5.7%;
    left: -100%;
    display: flex;
    flex-direction: column;
    background-color: $navBackground;
    transition: all 0.5s ease;
    .navItem {
      margin: 0 1rem;
      background-color: $navList;
      color: $fontTitleColor;
      font-weight: 600;
    }
  }
  .headerLinks.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

@include mobile {
  .headerLinks {
    width: 100%;
    margin-top: 25%;
    .navItem {
      text-align: center;
      border: 1px dotted black;
      border-radius: 0.4rem;
    }
  }
}
