@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.barContainer {
  width: 95%;
  height: 5rem;
  background-color: $barContainerColor;
  align-self: flex-end;
  display: flex;
  margin-top: 1rem;
  .shapeContainer {
    width: 0;
    height: 0;
    border-top: 5rem solid $shapeColor;
    border-right: 4rem solid transparent;
    margin-left: 5%;
  }
  p {
    margin-left: 2%;
    align-self: center;
    font-size: 1.6rem;
  }
}
