@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.formContainer {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    width: 35rem;
    background-color: white;
  }
}
.textAreaContainer {
  margin-left: 5.4rem;
  TextArea {
    width: 35rem;
    min-height: 8rem;
    max-height: 10rem;
    background-color: white;
  }
}
.buttonContainer {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: 1.5rem;
  button {
    @include button;
  }
  .termsContainer {
    // margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .checkbox {
      input {
        width: 5rem;
      }
    }
    .rodoPolicy {
      margin: 0.5rem;
      color: $barContainerColor;
      font-size: 1.5rem;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .error {
    margin-bottom: 1rem;
    position: relative;
    bottom: -1rem;
    right: 0;
    color: red;
  }
}

@include desktop {
  .formContainer:before {
    left: 5%;
  }
  .inputContainer {
    textarea {
      min-width: 30rem;
    }
  }
  // .buttonContainer {
  //   .termsContainer {
  //     width: 90%;
  //   }
  // }
}

@include tabletMax {
  .formContainer {
    width: 60%;
    &:before {
      left: 4%;
    }
    .textAreaContainer {
      margin-left: 0;
      .tooltip {
        display: none;
      }
    }
    // .buttonContainer {
    //   .termsContainer {
    //     width: 100%;
    //   }
    // }
  }
}
@include tabletMin {
  .formContainer {
    width: 60%;
    &:before {
      left: 0;
    }
    // .buttonContainer {
    //   width: 80%;
    //   .termsContainer {
    //     margin-left: 0;
    //   }
    // }
  }
}

@include mobile {
  .formContainer {
    width: 95%;
    input {
      width: 28rem;
    }
    .textAreaContainer {
      TextArea {
        width: 28rem;
        min-height: 8rem;
        max-height: 10rem;
      }
    }
    // .buttonContainer {
    //   width: 90%;
    //   margin: 2rem 0 2 0rem;
    //   .termsContainer {
    //     width: 70%;
    //     margin-left: 20%;
    //   }
    // }
    .formContainer .checkbox {
      input {
        width: 3rem;
      }
      span {
        margin: 0.5rem;
        color: $barContainerColor;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    &:before {
      left: 40%;
    }
  }
}

// @include mobileMin {
//   .formContainer {
//     .buttonContainer {
//       width: 100%;
//       .termsContainer {
//         width: 100%;
//         margin-left: 0;
//       }
//     }
//   }
// }
