@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.formContainer {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    width: 35rem;
    background-color: white;
  }
}
.textAreaContainer {
  margin-left: 5.4rem;
  TextArea {
    width: 35rem;
    min-height: 8rem;
    max-height: 10rem;
    background-color: white;
  }
}
.buttonContainer {
  width: 60%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  button {
    @include button;
  }

  .termsContainer {
    flex-direction: row;
    width: 60%;
    .checkbox {
      input {
        width: 5rem;
      }
    }
    .rodoPolicy {
      margin: 0.5rem;
      color: $barContainerColor;
      font-size: 1.5rem;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .error {
    position: relative;
    bottom: -1rem;
    right: 0;
    color: red;
  }
}

@include desktop {
  .formContainer:before {
    left: 5%;
  }
  .inputContainer {
    textarea {
      min-width: 30rem;
    }
  }
}

@include tabletMax {
  .formContainer:before {
    left: 4%;
  }
  .buttonContainer {
    width: 95%;
  }
}

@include tabletMin {
  .formContainer:before {
    left: 0;
  }
}

@include mobile {
  .formContainer {
    width: 95%;
    input {
      width: 25rem;
    }
    TextArea {
      width: 25rem;
      min-height: 8rem;
      max-height: 10 rem;
    }
    .buttonContainer {
      width: 100%;
      margin: 2rem 0 2 0rem;
      display: flex;
      align-items: center;

      input {
        width: 5%;
        margin-left: 1rem;
      }
    }
    .formContainer:before {
      left: 40%;
    }
    .checkbox {
      input {
        width: 3rem;
      }
      span {
        margin: 0.5rem;
        color: $barContainerColor;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
