@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.barContainer2 {
  width: 30%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  margin-top: 2rem;

  // position: absolute;
  .square {
    height: 1rem;
    width: 3.2rem;
    position: relative;
    top: 0rem;
    left: 0;
    display: block;
    transform: rotate(45deg);
    background-color: white;
    content: '';
  }

  .line {
    align-self: center;
    width: 21.1rem;
    height: 0.13rem;
    top: 5rem;
    left: 2rem;
    background-color: white;
    content: '';
  }
}
