@import 'src/scss/settings/mixins';

.decorationBarContainer {
  width: 30%;
  height: 5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  .square {
    min-height: 1.5rem;
    min-width: 1.5rem;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    transform: rotate(45deg);
    background-color: white;
    align-self: center;
    content: '';
  }

  .line {
    width: 21.1rem;
    height: 0.13rem;
    top: 1rem;
    left: 2rem;
    align-self: center;
    background-color: white;
    content: '';
  }
}

@include mobile {
  .decorationBarContainer {
    display: none;
  }
}
