@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.inputContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  z-index: 200;

  .inputHolder {
    .inputContent {
      min-width: 40rem;
      border: 1px solid black;
      background-color: transparent;
    }

    .errorMessage {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: 0.2rem solid red;
      border-radius: 0.4rem;
      font-size: 2rem;
      font-weight: 600;
      color: #990000;
    }
  }
}

@include desktop {
  .inputContainer {
    width: 60%;

    .inputContent {
      min-width: 30rem;
    }
  }
}

@include tabletMax {
  .inputContainer {
    width: 70%;
  }
}

@include tabletMin {
  .inputContainer {
    width: 80%;
  }
}

@include mobile {
  .inputContainer {
    width: 90%;
    margin-top: 1rem;
    flex-direction: column;
    .inputHolder {
      .inputContent {
        min-width: 20rem;
      }
    }
  }
}
