@import 'src/scss/settings/mixins';

.need {
  width: 34rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 1rem;

  .icon {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 6rem;
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  .text {
    font-size: 2rem;
    text-align: center;
  }
}

@include desktop {
  .need {
    width: 35rem;
    height: 25rem;
  }
}

@include tabletMax {
  .need {
    width: 28rem;
    height: 25rem;
  }
}

@include tabletMin {
  .need {
    width: 25rem;
    height: 20rem;
  }
}

@include mobile {
  .need {
    width: 22rem;
    height: 15rem;
    .icon {
      font-size: 3rem;
    }
    .title {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }
}
