@import 'src/scss/settings/mixins';

.need {
  width: 34rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 3rem 1rem 3rem;
  font-size: 2rem;
  text-align: center;

  .icon {
    width: 6rem;
  }
  p {
    margin-top: 1rem;
  }
}

@include desktop {
  .need {
    width: 35rem;
    height: 25rem;
  }
}

@include tabletMax {
  .need {
    width: 28rem;
    height: 25rem;
  }
}

@include tabletMin {
  .need {
    width: 25rem;
    height: 20rem;
  }
}

@include mobile {
  .need {
    width: 22rem;
    height: 15rem;
    .icon {
      font-size: 3rem;
    }
    .title {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }
}
