@import 'src/scss/settings/mixins';

.needHolder {
  width: 30rem;
  height: 30rem;
  margin: 3rem 2.5rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  .icon {
    width: 6rem;
  }
  p {
    margin-top: 1.5rem;
  }
}

@include desktop {
  .needHolder {
    width: 28rem;
    height: 25rem;
  }
}

@include tabletMax {
  .needHolder {
    width: 26rem;
    height: 22rem;
    margin: 3rem 2rem 1rem 2rem;
  }
}

@include tabletMin {
  .needHolder {
    width: 22rem;
    height: 20rem;
  }
}

@include mobile {
  .needHolder {
    width: 25rem;
    height: 20rem;
    .icon {
      font-size: 3rem;
    }
    .title {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1.2rem;
    }
  }
}
