@import 'scss/reset';
@import 'scss/settings/font';
@import 'scss/settings/colors';

html {
  font-size: 10px;
}

body {
  #root {
    max-width: 190rem;
    font-family: $font-base;
    margin: 0 auto;
  }
}
