.header {
  width: 100%;
  height: 70rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .barContainer {
    width: 95%;
    height: 5rem;
    background-color: #ebaf23;
    align-self: flex-end;
    display: flex;
    .shapeContainer {
      width: 0;
      height: 0;
      border-top: 5rem solid purple;
      border-right: 4rem solid transparent;
      margin-left: 5%;
    }
    p {
      margin-left: 2%;
      align-self: center;
      font-size: 1.6rem;
    }
  }
  .sloganContainer {
    align-self: center;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    p {
      margin-top: 10rem;
      font-size: 3.2rem;
      color: whitesmoke;
    }
  }
}
